@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../css/codemirror.css";
@import "../css/lightsource-ambiance.css";
@import "../css/lightsource.css";
@import "../css/scrubber.css";
@import "variables.less";
@import "header.less";
@import "call-stack.less";

html, body{
	width: 100%;
	height: 100%;
  background: darken(@proto-black, 10%);
}

.app-boxes{
	height: inherit;
}

#editor .selected {
  background: rgba(117, 204, 231, 0.54);
}

.tabs{
  background: @proto-editor-grey;
  padding-left: 28px;
}
.tabs>ul>li>a:hover{
  background: @proto-editor-black;
}
.tabs>ul>li.active{
  background: @proto-editor-black;
}
#play-pause{
  padding: 10px;
  border-radius: 3px;
  background: @proto-background-2;
  color : @proto-background;
  outline: none;
  border: none;
}
#play-pause:hover{
  background: lighten(@proto-background-2, 10%)
}
.scrubber{
  margin-top: 0px;
  height: 27px;
}
.scrubber .thumb{
  background: @proto-blue;
}
.scrubber-box{
  margin-bottom: 10px;
  background: @proto-background-2;
  padding-left: 28px;
}

.app-boxes{
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
}
